.taskItem{
    position: relative;
    .title{
        display: inline-block;
        padding: .25em;
    }
    input[type=checkbox]{
        position: absolute;
        top: 6px;
        left: 0;
    }
    .fun{
        text-align: right;
        margin-top: 5px;
        display: block;
        @media (min-width: 48em) {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    
    .display{
        margin-left: 24px;
        .fun{
            float: right;
        }
    }
    .editing{
        margin-left: 24px;
        @media (min-width: 48em) {
            margin-right: 200px;
        }
        form{
            .title{
                width: 100%;
            }
        }
    }
}