@import "partials/common/base";

.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

html{
    background-color: #fff;
}

a{
    color: #333;
    &:active{
        color: #999;
        border-bottom: dotted 1px #999;
    }
    &:hover{
        color: #3d92c9;
    }
    &:focus{
        color: #3d92c9;
    }
}

#app{
    .paper{
        min-height: 800px;
    }
}