@import "partials/common/fun.scss";

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
    
    @media (min-width: 48em) {
        position: fixed;
        top: 0;
        bottom: 0;
        width: auto;
    }

    .header {
        font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-align: center;
        top: auto;
        margin: 3em auto;
        @media (min-width: 48em) {
            margin: 80% 2em 0;
            text-align: right;
        }
    }

    .brand-title,
    .brand-tagline {
        margin: 0;
    }
    .brand-title {
        text-transform: uppercase;
    }
    .brand-tagline {
        font-weight: 300;
        color: rgb(176, 202, 219);
    }

    .nav-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .nav-item {
        display: inline-block;
        *display: inline;
        zoom: 1;
    }
    .nav-item a {
        background: transparent;
        border: 2px solid rgb(176, 202, 219);
        color: #fff;
        margin-top: 1em;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-size: 85%;
    }
    .nav-item a:hover,
    .nav-item a:focus {
        border: 2px solid rgb(61, 146, 201);
        text-decoration: none;
    }
}

.content {
    @media (min-width: 48em) {
        margin-left: 25%;
    }
}
