.form{

}

.form-control{
    padding: .25em;
    display: inline-block;
    border: 0;
    border-color: transparent;
    border-bottom: dotted 1px #b0cadb;
    margin-bottom: -1px;
    &:focus{
        border-bottom-color: #3d4f5d
    }
}