#task-detail{
    > header{
        background-color: #b0cadb;
        color: #fff;
        overflow: hidden;
        > h1{
            font-size: 18px;
            margin: 0.825em;
            transition: transform .5s;
            transform: translate(-100%, 0);
            
            &.animation{
                transform: translate(0, 0);
            }

            > a{
                color: #fff;
            }
        }

        @media (min-width: 48em) {
            > h1{
                font-size: 48px;
                height: 48px;
                margin-bottom: 0;
                margin-top: 2em;
                overflow-y: hidden;
            }
        }
    }

    article{
        padding: 1em;
    }
    footer{
        padding: 1em;
    }

    
    .task-title{
        position: relative;
        padding-left: 24px;
        margin-bottom: 5px;
        input[type=checkbox]{
            position: absolute;
            top: 6px;
            left: 0;
        }
        > .title{
            display: inline-block;
            padding: .25em;
        }
    }
    .task-description{
        margin-left: 24px;
        padding: .25em;
        textarea{
            padding: 0;
            width: 100%;
            border-radius: 0;
            border: none;
            box-shadow: none;
            border-left: solid .25em #b0cadb;
            padding-left: .25em;
        }
    }
    
    .editing{
        .form-control{
            width: 100%;
        }
    }
}