#task-list{
    > header{
        background-color: #b0cadb;
        color: #fff;
        overflow: hidden;
        > h1{
            font-size: 18px;
            margin: 0.825em;

            transition: transform .5s;
            transform: translate(-100%, 0);
            &.animation{
                transform: translate(0, 0);
            }
        }

        @media (min-width: 48em) {
            > h1{
                font-size: 48px;
                height: 48px;
                margin-bottom: 0;
                margin-top: 2em;
                overflow-y: hidden;
            }
        }
    }
    > article{
        padding: 1em;
    }
    > footer{
        padding: 1em;
    }
    .tasks{
        > li{
            margin: 10px 0;
            .label{
                margin-right: 5px;
            }
            .editing{
                p:last-child{
                    padding-left: 20px;
                }
            }
        }
    }

    .taskItem-transition{
        transition: opacity .35s ease;
    }
    .taskItem-enter{
        opacity: 1;
    }
    .taskItem-leave{
        opacity: 0;
        position: absolute;
        width: 100%;
    }
    .taskItem-move{
        transition: transform .5s ease;
    }
}